@font-face {
  font-family: "futura PT";
  src: url("font/FuturaCyrillicHeavy.woff") format("woff");
}
/********************* DESKTOP **********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #000000, rgb(36, 36, 36));
}

img {
  width: auto;
  height: 100%;
}
header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: "futura PT";
  font-size: 36px;
  color: yellow;
}
p {
  margin: 2%;
  font-family: "raleway";
  color: white;
}

nav {
  flex: 1;
  text-align: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

li:first-child {
  margin-left: 0%;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "futura PT";
  font-size: 1.5rem;
}
a:hover {
  color: black;
}

.active {
  color: yellow;
  font-weight: bold;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 20px;
    text-align: left;
  }

  li {
    display: block;
    margin: 10px 0;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer p {
    margin: 0;
  }
}
